*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 90%;
  margin: 0 auto;
  background: #fff;
  
}

.all__articles{
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 25px;
  
}

.article{
  max-width: 400px;  
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  
}

.article__title{
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.article__description{
  padding-top: 10px;
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 10px;
}
.article_image{
  margin-top: 15px;
}

