*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 90%;
  margin: 0 auto;
  background: lightsteelblue;
  
}

.all__news{
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 25px;
  
}

.news{
  max-width: 500px;
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  
}

.news__title{
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.heading{
  /* margin-top: 30px; */
}

.news__description{
  padding-top: 10px;
  line-height: 25px;
  font-size: 14x;
  padding-bottom: 10px;
}

.news__published{
  margin-right: 10px;
}

.news__published{
  color: grey;
}

.news__source{
  color: blue;
}